<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <title>10Kind</title>
</head>
<body>
  <header>
    <div class="header">
      <h1>10Kind</h1>
    </div>
  </header>
{{{body}}}
</body>
</html>
