<h2>Today I challenge you to...</h2>
<p>{{description}}</p>
<form method="POST">
    <input type="hidden" name="task_id" value="{{task_id}}">
    <div class="button">
        <button type="submit">I did it!</button>
    </div>
</form>
