<h2>Today I challenge you to...</h2>
<p>{{description}}</p>
<form method="POST">
    <input type="hidden" name="task_id" value="{{task_id}}">
    {{#if taskIsDone}}
        <div>
            YOU DID IT!
        </div>
    {{else}}
        <div class="button">
            <button type="submit" onclick="window.location.href='/progress'" >I did it!</button>
        </div>
    {{/if}}
</form>
